alias update='sudo apt-get update && sudo apt-get upgrade && sudo apt autoremove'
alias zshrc="nvim ~/.zshrc"
alias t="tmux"
# alias nvim="tmux_with_nvim"
alias vimrc="nvim ~/.config/nvim/init.vim"
alias vim="nvim"
# there is already a package named fd so must create alias
# alias youtube-dl='ytdl'
alias ijs='jupyter console --kernel=javascript'
alias ivim='jupyter console --kernel=vim_kernel'
alias ijava='jupyter console --kernel=java'
alias irust='jupyter console --kernel=rust'
alias ls='exa --icons'
alias l='lfcd'
alias yt='ytop'
alias z='j'
alias zo='jo'
alias chtsh='cht --shell'
alias open='xdg-open &>/dev/null'
eval $(thefuck --alias fuck)
alias icat="kitty +kitten icat"
# experimental mode
# eval $(thefuck --alias --enable-experimental-instant-mode)
