[Desktop Entry]
Type=Application
Exec=/usr/bin/pactl set-card-profile 0 HiFi
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=[en_US]=pactl
Name=pactl
