[Desktop Entry]
Type=Application
Exec=/bin/bash /home/brian/.config/yadm/dotfiles/bin/keymappings
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=[en_US]=keymappings
Name=keymappings
