[Desktop Entry]
Type=Application
Exec=/usr/bin/xset r rate 300 60
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=[en_US]=xset
Name=xset
