[Desktop Entry]
Type=Application
Exec=amixer -c 0 set Master 64DB 
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=[en_US]=pactl
Name=pactl
