configuration {
    width: 20;
    modi: "window,run,ssh,drun,combi,keys";
	lines: 10;
    terminal: "kitty";
	case-sensitive: false;
	matching: "regex";
	theme: "~/.config/rofi/gruvbox.rasi";
    icon-theme: "White-Sur dark";
    drun-display-format: "{name} [<span weight='normal' size='small'>({generic})</span>]";
}
/* @import "gruvbox" */
