configuration {
    width: 40;
    modi: "window,run,ssh,drun,combi,keys,windowcd,file-browser";
	lines: 10;
    terminal: "kitty";
	case-sensitive: false;
	matching: "fuzzy";
    icon-theme: "Papirus";
    drun-display-format: "{name} [<span weight='normal' size='small'>({generic})</span>]";
}
@import "gruvbox"
